#green{
color: green
}
#red{
    color:red
}
#blue{
    color:blue
}
#orange{
    color:orange
}
#yellow{
    color:yellow
}

.color-title{
    font-weight: normal
}

img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}
